<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tree-detail"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ curso?.titulo || 'Curso' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="curso; else noCurso">

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ curso.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ curso.descripcion }}</p>
      </ion-card-content>
    </ion-card>

    <ng-container *ngFor="let lesson of curso.lessons">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ lesson.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ lesson.contenido }}</p>

          <ng-container *ngFor="let item of lesson.material">
            <p *ngIf="item.tipo === 'texto'">{{ item.valor }}</p>
            <img *ngIf="item.tipo === 'imagen'" [src]="item.valor" alt="Imagen del material" style="max-width:100%;">
            <ul *ngIf="item.tipo === 'lista'">
              <li *ngFor="let val of item.valor">{{ val }}</li>
            </ul>
          </ng-container>

        </ion-card-content>
      </ion-card>
    </ng-container>

  </ng-container>

  <ng-template #noCurso>
    <ion-card>
      <ion-card-content>
        <p>No se encontró el curso seleccionado.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
