<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tree-detail"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ curso?.titulo || 'Curso' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="curso; else noCurso">
    <h2>{{ curso.titulo }}</h2>
    <p>{{ curso.descripcion }}</p>

    <div *ngFor="let lesson of curso.lessons">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ lesson.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ lesson.contenido }}</p>

          <div *ngFor="let item of lesson.material">
            <div *ngIf="item.tipo === 'texto'">
              <p>{{ item.valor }}</p>
            </div>
            <div *ngIf="item.tipo === 'imagen'">
              <img [src]="item.valor" alt="Imagen del material" style="max-width:100%;">
            </div>
            <div *ngIf="item.tipo === 'lista'">
              <ul>
                <li *ngFor="let val of item.valor">{{ val }}</li>
              </ul>
            </div>
          </div>

        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>

  <ng-template #noCurso>
    <p>No se encontró el curso seleccionado.</p>
  </ng-template>
</ion-content>
