.correcta {
  color: green;
  font-weight: bold;
}

.incorrecta {
  color: red;
  font-weight: bold;
}

.perfil-card {
  margin-bottom: 15px;
}

.intento-card {
  margin-bottom: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 5px;
}
