<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>DriveQuiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="ion-text-center" style="font-weight: bold; color: white;">
    Bienvenido! {{ nombre }}
  </h3>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Preparación Licencia B</ion-card-title>
      <ion-card-subtitle>Comienza tu camino hacia la licencia</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Selecciona un curso en el menú para comenzar a estudiar.
    </ion-card-content>
  </ion-card>
</ion-content>
