h2 {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

ion-card {
  margin-top: 20px;
}

.aprobado {
  color: green;
  font-weight: bold;
}

.reprobado {
  color: red;
  font-weight: bold;
}

ion-progress-bar {
  margin-top: 12px;
  margin-bottom: 16px;
}
