<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TROLEADO WAJA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LUCHO WEKO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-text>BROMITA JEJE</ion-text>
    <ion-button href="https://www.youtube.com/watch?v=35XFAkwmU4c" expand="block">Ok no ahora si este boton lleva a la pagina</ion-button>
  </ion-content>
</ion-content>
