<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DriveQuizAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="center-container">
    <h1 class="app-title">DriveQuiz</h1>

    <ion-card class="imgholder"> 
      <img src="../../../assets/logo.jpg" alt="Logo">
    </ion-card>
    <ion-card class="button-card">
      <ion-button routerLink="/inicio-sesion" expand="block" fill="solid" color="primary" shape="round">
        Iniciar Sesión
      </ion-button>
      <ion-button routerLink="/registrarse" expand="block" fill="solid" color="warning" shape="round">
        Registrarse
      </ion-button>
    </ion-card>
  </div>
</ion-content>
