<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-container">

    <ion-card class="imgholder">
      <img src="../../../assets/logo.jpg" alt="Duoc Logo">
    </ion-card>

    <div class="scroll-wrapper">
      <ion-card>
        <ion-card-header class="contenido">
          <ion-card-title>Registrarse</ion-card-title>
        </ion-card-header>

        <ion-card-content class="contenido">
          <form [formGroup]="registerForm">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" formControlName="nombre"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Apellidos</ion-label>
                <ion-input type="text" formControlName="apellidos"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text" formControlName="username"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Confirmar Contraseña</ion-label>
                <ion-input type="password" formControlName="confirmPassword"></ion-input>
              </ion-item>
            </ion-list>

            <ion-button 
              expand="block" 
              fill="solid" 
              color="warning" 
              shape="round"
              (click)="Registrarse()"
              [disabled]="!registerForm.valid">
              Registrarse
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
